/*
    @media(max-width:767px){}
    @media(min-width:768px){}
    @media(min-width:992px){}
    @media(min-width:1200px){}
*/
@font-face {
    font-family: SFUIDisplay-Light;
    src: url(../fonts/SFUIDisplay-Light.otf);
}
@font-face {
    font-family: SFUIDisplay-Semibold;
    src: url(../fonts/SFUIDisplay-Semibold.otf);
}
@font-face {
    font-family: SFUIDisplay-Thin;
    src: url(../fonts/SFUIDisplay-Thin.otf);
}
@font-face {
    font-family: Arkhip;
    src: url(../fonts/Arkhip_font.otf);
}
@font-face {
    font-family: Nautilus;
    src: url(../fonts/Nautilus.otf);
}
*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style:none;
    font-family: SFUIDisplay-Light, sans-serif;
}
.clear-block{
    clear:both;
}
.auth-block{
    position: fixed;
    top: 0;left:0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: url(../img/bg-login.jpg) center fixed no-repeat;
    background-size: cover;
}